.pink-background {
    background-color: #FFC1CC;
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.text-container h1 {
    font-size: large;
    margin: 0;
    text-align: center;
}

.intro-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0;
    width: 100%;
}

.textures {
    text-align: center;
    padding: 20px; 
}

.image-container img {
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto 20px; 
    display: block;
}

.text-container {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: left; 
    line-height: 1.6; 
}

.text-container h2 {
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-container ol {
    list-style-position: inside;  
    padding: 0;
}

.text-container li {
    margin-bottom: 15px; 
    font-size: 1rem;
}

.text-container p {
    margin-top: 20px; 
    font-size: 1rem;
    font-weight: bold;
}

.childhood-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}